<ion-view>
  <ion-nav-title>
    {{text('trainerRank')}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="selectDistrict()"
            style="border:none;margin-right:10px">
      {{getDistrict()}}
    </button>
    <button class="button" ng-class="{spin:rankerService.loading}" ng-click="refresh()"
            style="border:none;margin-right:10px">
      <i style="font-size:20px" class="ion-android-refresh"></i>

    </button>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <label class="item">
        <small>{{text('trainerOrderBy6Cp')}}</small>
      </label>
    </div>

    <div class="list">
      <user-summary user="ranker" rank="$index+1" ng-repeat="ranker in rankerService.rankers"></user-summary>
    </div>
    <ion-infinite-scroll ng-if="!rankerService.end" on-infinite="more();"></ion-infinite-scroll>
  </ion-content>
</ion-view>
