.podoc-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 1px;
  display: inline-block;
  vertical-align: middle;
}

.ion-flash.stats {
  font-size: 16px;
  vertical-align: middle;
  color: #FEB41C;
  padding-top: 1px;
  display: inline-block;
}
