<ion-tabs class="tabs-icon-top tabs-color-active-royal">

  <ion-tab title="목록" icon-off="ion-android-list" icon-on="ion-android-list" ui-sref="app.herepokemon.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <ion-tab title="지도" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" ui-sref="app.herepokemon.map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!--<ion-tab title="트레이너" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="app.herepokemon.trainers">-->
  <!--<ion-nav-view name="tab-trainers"></ion-nav-view>-->
  <!--</ion-tab>-->

</ion-tabs>
