<ion-view>
  <ion-nav-title>
    {{text('battleSimulator')}}
  </ion-nav-title>
  <ion-content>
    <div>
      <label class="item">
        <small>{{text('youCanChangeSkillStatPokemon')}}</small>
      </label>
    </div>
    <div class="row text-align-center">
      <div class="col">
        <div class="small-title">{{left.nickname || left.pokemon.name}}</div>
        <img ng-src="{{left.pokemon.img}}" ng-click="selectPokemon(left)">
        <hp-bar pokemon="left" ng-click="modifylvAndStat(left)"></hp-bar>
        <energy-bar pokemon="left" ng-click="modifylvAndStat(left)"></energy-bar>
        <div>
          <types types="left.pokemon.types"></types>
        </div>
      </div>
      <div class="col">
        <div class="small-title">{{right.nickname || right.pokemon.name}}</div>
        <img ng-src="{{right.pokemon.img}}" ng-click="selectPokemon(right)">
        <hp-bar pokemon="right" ng-click="modifylvAndStat(right)"></hp-bar>
        <energy-bar pokemon="right" ng-click="modifylvAndStat(right)"></energy-bar>
        <div>
          <types types="right.pokemon.types"></types>
        </div>
      </div>
    </div>
    <div class="row text-align-center" ng-show="skillHide">
      <div class="col">
        <span class="button button-positive" ng-click="setSkillHide(false)">스킬 보기</span>
      </div>
    </div>
    <div class="row text-align-center" ng-show="!skillHide">
      <div class="col">
        <i ng-click="setSkillHide(true)" class="ion-minus" style="position: absolute;right: 20px;"></i>
        <skill-calculated skill="left.skill_1" ng-click="selectSkill(left)"
                          calculated="left.skill_1_calculated"></skill-calculated>
        <skill-calculated skill="left.skill_2" ng-click="selectSkill(left)"
                          calculated="left.skill_2_calculated"></skill-calculated>
      </div>
      <div class="col">
        <skill-calculated skill="right.skill_1" ng-click="selectSkill(right)"
                          calculated="right.skill_1_calculated"></skill-calculated>
        <skill-calculated skill="right.skill_2" ng-click="selectSkill(right)"
                          calculated="right.skill_2_calculated"></skill-calculated>
      </div>
    </div>
    <div class="control-box">
      <i class="ion-play" ng-class="{disabled:playing}" ng-click="play()"></i>
      <i class="ion-stop" ng-class="{disabled:!playing}" ng-click="stop()"></i>
      <i class="ion-pause" ng-class="{disabled:!playing}" ng-click="pause()"></i>
      <span ng-show="events.time<0">{{text('beforeStart')}}</span>
      <span ng-show="events.time>=0">{{events.time | number:1}}s</span>
    </div>
    <div class="row text-align-center" style="margin-top:20px">
      <div class="col">
        <rzslider style="margin-top:20px;" rz-slider-model="events.time" rz-slider-options="options"></rzslider>
      </div>
    </div>
    <div class="row" ng-repeat="log in events.logs | orderBy: time:true">
      <div class="small-title" style="padding:5px;">
        {{log.time|number:1}}s
      </div>
      <div class="col">
        {{log.message}}
      </div>
    </div>
  </ion-content>
</ion-view>
