<ion-view view-title="CP 시뮬레이터">
  <ion-nav-buttons side="right">
    <button class="button"  ng-click="selectPokemon()"
            style="border:none;margin-right:10px">
      <img style="width:28px" ng-src="{{pokemon.pokemon.img}}">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="text-align-center" style="margin-top:20px;">
      <h4>{{pokemon.pokemon.name}}({{pokemon.pokemon.eng}})</h4>
      <img style="margin-top:10px" ng-src="{{pokemon.pokemon.img}}">
      <h1>CP {{getCp()}} <span class="button button-balanced" ng-click="powerUp()">POWER UP!</span></h1>
    </div>
    <div class="slider-wrap">
      <rzslider rz-slider-model="pokemon.level" rz-slider-options="pokemonOptions"></rzslider>
    </div>
    <div class="slider-wrap">
      <h5>트레이너 레벨</h5>
      <rzslider rz-slider-model="trainer.level" rz-slider-options="{floor:1, ceil:40, showSelectionBar:true}"></rzslider>
    </div>
    <div class="slider-wrap">
      <h5>개체치</h5>
      <rzslider rz-slider-model="pokemon.individual_attack" rz-slider-options="options"></rzslider>
      <rzslider rz-slider-model="pokemon.individual_defense" rz-slider-options="options"></rzslider>
      <rzslider rz-slider-model="pokemon.individual_stamina" rz-slider-options="options"></rzslider>
    </div>
  </ion-content>
</ion-view>
