<ion-tabs class="tabs-icon-top tabs-color-active-royal">

  <ion-tab title="{{text('egg')}}" icon-off="ion-egg" icon-on="ion-egg" ui-sref="app.simulator.egg">
    <ion-nav-view name="tab-egg"></ion-nav-view>
  </ion-tab>

  <ion-tab title="CP" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" ui-sref="app.simulator.cp">
    <ion-nav-view name="tab-cp"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Battle" icon-off="ion-fireball" icon-on="ion-fireball" ui-sref="app.simulator.attack">
    <ion-nav-view name="tab-attack"></ion-nav-view>
  </ion-tab>

</ion-tabs>
