hp-bar, energy-bar, percent-bar {
  position: relative;
  display: block;
  height: 30px;
  width: 100%;
  border-radius: 15px;
  background: #eee;
  overflow: hidden;
  margin-bottom: 2px;
  span {
    background: #33cd5f;
    position: absolute;
    height: 100%;
    left: 0;
  }
  label {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    line-height: 30px;
    color: white;
    font-weight: bold;
    text-outline: 1px black;
    text-shadow: 1px 1px 1px black;
  }
}

energy-bar {
  height: 25px;
  span {
    background: #00b7c6;
  }
  label {
    line-height: 25px;
  }
}

percent-bar {
  height: 15px;
  label {
    line-height: 15px;
    font-size: 10px;
  }
  margin: 2px auto;
  width: 90%;
}

percent-bar.small {
  height: 10px;
  label {
    line-height: 10px;
    font-size: 8px;
  }
  margin: 0 auto;
}

