<ion-view>
  <ion-nav-title>
    {{text('myPage')}}
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <div class="profile" menu-close ui-sref="app.mypage">
        <img ngf-select ngf-max-size="1MB" ng-model="file" ng-show="!file"
             ng-src="{{user.img || 'images/profile.png'}}">
        <img ngf-select ngf-max-size="1MB" ng-model="file" ngf-src="!file.$error && file"
             ng-show="!file.$error && file">
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{text('name')}}</span>
        <input type="text" ng-model="user.nickname" placeholder="{{text('name')}}">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive activated" ng-click="update(file)">{{text('userModifyBtn')}}
      </button>
    </div>
    <div class="padding" ng-show="replies.length>0">
      <replies type="TRAINER" replies="replies" replies-id="user.id"></replies>
    </div>
  </ion-content>
</ion-view>
