<ion-view view-title="마이페이지">
  <ion-content>
    <div class="list">
      <div class="profile" menu-close ui-sref="app.mypage">
        <img ngf-select ngf-max-size="1MB" ng-model="file" ng-show="!file" ng-src="{{user.img || 'images/profile.png'}}">
        <img ngf-select ngf-max-size="1MB" ng-model="file" ngf-src="!file.$error && file" ng-show="!file.$error && file">
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">이름</span>
        <input type="text" ng-model="user.nickname" placeholder="이름">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-royal activated" ng-click="update(file)">정보 수정</button>
    </div>
    <div class="padding" ng-show="replies.length>0">
      <replies type="TRAINER" replies="replies" replies-id="user.id"></replies>
    </div>
  </ion-content>
</ion-view>
