<ion-view>
  <ion-nav-title>
    {{text('pokemonDic')}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button" one-click="etc.cardView=!etc.cardView;etc.mCardView=!etc.mCardView;"
            style="border:none;margin-right:10px">
      <i style="font-size:20px" ng-if="!etc.cardView" class="ion-ios-list-outline"></i>
      <i style="font-size:20px" ng-if="etc.cardView" class="ion-ios-grid-view-outline"></i>
    </button>
    <button class="button" ng-click="search()" style="border:none;margin-right:10px">
      <i style="font-size:20px" class="ion-android-search"></i>
    </button>
    <button class="button" ng-click="align()" style="border:none">
      <i style="font-size:20px" class="ion-android-funnel"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list" ng-if="!etc.cardView">
      <a class="item item-thumbnail-left" ui-sref="app.pokemonDetail({id:pokemon.id})"
         ng-if="pokemon.id"
         ng-repeat="pokemon in filtered = (pokemons | filter: value.keyword | orderBy:[order.orderBy,'maxCp']:order.desc)">
        <img ng-src="{{pokemon.img}}">
        <h2><span class="small-tail">{{pokemon.id}}</span>
          <localnamer value="pokemon"></localnamer>
        </h2>
        <p>
          {{text('maxCpInList')}}: {{pokemon.maxCp}} (#{{pokemon.maxCpRank}})
        </p>
        <p>
          {{text('pokemonPower')}}: {{pokemon.power}} (#{{pokemon.value[3]}})
        </p>
        <p>
          {{text('rare')}}: <span rarity="pokemon.rarity"></span>
        </p>
        <p>
          <span ng-repeat="type in pokemon.types">{{type.name}}<span ng-if="!$last">, </span></span>
        </p>
      </a>
      <a class="item" style="border:none" ng-if="filtered.length === 0">
        <h2 style="margin-top:12px">{{text('noResult')}}</h2>
      </a>
    </div>
    <div class="list card-view" ng-if="etc.cardView">
      <div class="card-view-item" ui-sref="app.pokemonDetail({id:pokemon.id})"
           ng-if="pokemon.id"
           ng-repeat="pokemon in filtered = (pokemons | filter: value.keyword |  orderBy:order.orderBy:order.desc)">
        <div>
          <img ng-src="{{pokemon.img}}">
        </div>
        <div class="card-view-description">
          <h2><span class="small-tail">{{pokemon.id}}</span>
            {{pokemon.name}}
          </h2>
          <p>
            <span rarity="pokemon.rarity"></span><br><span ng-repeat="type in pokemon.types">{{type.name}}<span
            ng-if="!$last">, </span></span>
          </p>
          <p>
            <i class="ion-flash stats"></i> {{pokemon.power}} (#{{pokemon.value[3]}})
          </p>
        </div>
      </div>
      <a class="item" style="border:none" ng-if="filtered.length === 0">
        <h2 style="margin-top:12px">{{text('noResult')}}</h2>
      </a>
    </div>
  </ion-content>
</ion-view>
