<ion-view>
  <ion-nav-title>
    {{text('pokemonDicDetail')}}
  </ion-nav-title>
  <ion-content>
    <div class="card poke-card">
      <div class="item item-divider">
        <i class="ion-fireball"></i>
        <localnamer value="pokemon"></localnamer>
      </div>
      <img style="margin:auto;margin-top:10px" ng-src="{{pokemon.img}}">
      <div class="item item-text-wrap" style="margin-top:-10px;border-top:none;">
        <div class="row">
          <div class="col">
            <div class="small-title">{{text('type')}}</div>
            <types types="pokemon.types"></types>
          </div>
          <div class="col">
            <div class="small-title">{{text('rare')}}</div>
            <span rarity="pokemon.rarity"></span>
          </div>
          <div class="col">
            <div class="small-title">{{text('pokemonPowerRank')}}</div>
            {{pokemon.value[3]}}{{text('rank')}}
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col">
            <div class="small-title">{{text('pokemonPower')}}</div>
            {{pokemon.power}}
          </div>
          <div class="col">
            <div class="small-title">{{text('attack')}}</div>
            {{pokemon.value[0]}}
          </div>
          <div class="col">
            <div class="small-title">{{text('defense')}}</div>
            {{pokemon.value[1]}}
          </div>
          <div class="col">
            <div class="small-title">{{text('stamina')}}</div>
            {{pokemon.value[2]}}
          </div>
        </div>
        <div class="row">
          <div class="col">
              <span class="button button-balanced" style="margin-right:10px"
                    ui-sref="app.simulator.cp({pokemon:pokemon.id})">
                <i class="ion-arrow-graph-up-right"></i> {{text('cpSimulation')}}
              </span>
            <span class="button button-royal" ui-sref="app.simulator.attack({pokemon:pokemon.id})">
                <i class="ion-fireball"></i> {{text('battleSimulation')}}
              </span>
          </div>
        </div>
      </div>
    </div>


    <div class="card poke-card">
      <div class="item item-divider">
        <i class="ion-ios-paw"></i> {{text('attackSkills')}}
      </div>
      <div class="item item-text-wrap skills">
        <div class="row header">
          <div class="col" style="min-width: 100px">{{text('name')}}</div>
          <div class="col">{{text('type')}}</div>
          <div class="col">{{text('cooldown')}}</div>
          <div class="col">{{text('attackPower')}}({{text("dps")}})</div>
          <div class="col">{{text('energy')}}({{text("eps")}})</div>
        </div>
        <skill best="pokemon.bestAttack" skill="skill" ng-repeat="skill in pokemon.attacks"></skill>
        <skill best="pokemon.bestSkill" skill="skill" ng-repeat="skill in pokemon.skills"></skill>
      </div>
    </div>

    <div class="card poke-card" ng-if="pokemon.candies">
      <div class="item item-divider">
        <i class="ion-ios-rose"></i> {{text('candiesInfo')}}
      </div>
      <div class="item item-text-wrap" style="padding:0;border-bottom: none;">
        <div class="row">
          <div class="col" ng-if="pokemon.evolveCandies">
            <div class="small-title">{{text('needCandies')}}</div>
            {{pokemon.evolveCandies}}
          </div>
          <div class="col" ng-if="pokemon.evolveCandies">
            <div class="small-title">{{text('nowCandies')}}</div>
            {{pokemon.candies}}
          </div>
          <div class="col">
            <div class="small-title">{{text('buddyCandies')}}</div>
            {{pokemon.buddyKm}}km
          </div>
        </div>
        <div class="row" ng-if="pokemon.canEvolve" style="color: green;">
          <div class="col">
            <br>{{getNextName(pokemon)}} {{text('canEvolve')}}
          </div>
        </div>
      </div>
    </div>

    <div class="card poke-card" ng-if="pokemon.data">
      <div class="item item-divider">
        <i class="ion-stats-bars"></i>
        {{text('pokemonStatistics')}}
      </div>
      <div class="item item-text-wrap" style="border-bottom: none;">
        <div class="row">
          <div class="col">
            <div class="small-title">{{text('ratioInAllPokemon')}}</div>
            {{pokemon.data.percent * 100 | number:2}}%

          </div>
          <div class="col">
            <div class="small-title">{{text('averageCP')}}</div>
            {{pokemon.data.averageCp | number:1}}
          </div>
          <div class="col">
            <div class="small-title">{{text('now1stPlaceCp')}}</div>
            {{pokemon.data.maxCp}}
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-if="pokemon.desc">
      <div class="item item-divider">
        <i class="ion-leaf"></i> {{text('story')}}
      </div>
      <div class="item item-text-wrap story">
        <div>
          {{pokemon.desc}}
        </div>
      </div>
    </div>


    <div class="padding">
      <replies type="DICTIONARY" replies="replies" replies-id="pokemon.id"></replies>
    </div>
  </ion-content>
</ion-view>
