<ion-view view-title="포켓몬 도감 상세 정보">
  <ion-content>
    <div class="card poke-card">
      <div class="item item-divider">
        <i class="ion-fireball"></i>
        {{pokemondic.name}} ({{pokemondic.eng}})
      </div>
      <img style="margin:auto;margin-top:10px" ng-src="{{pokemondic.img}}">
      <div class="item item-text-wrap" style="margin-top:-10px;border-top:none;">
        <div class="row">
          <div class="col">
            <div class="small-title">{{text('type')}}</div>
            <types types="pokemondic.types"></types>
          </div>
          <div class="col">
            <div class="small-title">{{text('rare')}}</div>
            {{pokemondic.rare}}
          </div>
          <div class="col">
            <div class="small-title">{{text('pokemonPowerRank')}}</div>
            {{pokemondic.value[3]}}위
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col">
            <div class="small-title">{{text('pokemonPower')}}</div>
            {{pokemondic.power}}
          </div>
          <div class="col">
            <div class="small-title">{{text('attack')}}</div>
            {{pokemondic.value[0]}}
          </div>
          <div class="col">
            <div class="small-title">{{text('defense')}}</div>
            {{pokemondic.value[1]}}
          </div>
          <div class="col">
            <div class="small-title">{{text('stamina')}}</div>
            {{pokemondic.value[2]}}
          </div>
        </div>
        <div class="row">
          <div class="col">
              <span class="button button-balanced" style="margin-right:10px"
                    ui-sref="app.simulator.cp({pokemon:pokemon.id})">
                <i class="ion-arrow-graph-up-right"></i> {{text('cpSimulation')}}
              </span>
              <span class="button button-assertive"  ui-sref="app.simulator.attack({pokemon:pokemondic.id})">
                <i class="ion-fireball"></i> {{text('battleSimulation')}}
              </span>
          </div>
        </div>
      </div>
    </div>

    <div class="card poke-card">
      <div class="item item-divider">
        <i class="ion-ios-paw"></i> {{text('attackSkills')}}
      </div>
      <div class="item item-text-wrap skills">
        <div class="row header">
          <div class="col" style="min-width: 100px">{{text('name')}}</div>
          <div class="col">{{text('type')}}</div>
          <div class="col">{{text('attackPower')}}</div>
          <div class="col">{{text('cooldown')}}</div>
          <div class="col">{{text('dps')}}</div>
          <div class="col">{{text('energy')}}</div>
        </div>
        <skill skill="skill" ng-repeat="skill in pokemondic.attacks"></skill>
        <skill skill="skill" ng-repeat="skill in pokemondic.skills"></skill>
      </div>
    </div>


    <div class="card poke-card" ng-if="pokemondic.data">
      <div class="item item-divider">
        <i class="ion-stats-bars"></i>
        {{text('pokemonStatistics')}}
      </div>
      <div class="item item-text-wrap" style="border-bottom: none;;">
        <div class="row">
          <div class="col">
            <div class="small-title">{{text('ratioInAllPokemon')}}</div>
            {{pokemondic.data.percent * 100 | number:2}}%

          </div>
          <div class="col">
            <div class="small-title">{{text('averageCP')}}</div>
            {{pokemondic.data.avargeCp}}
          </div>
          <div class="col">
            <div class="small-title">{{text('now1stPlaceCp')}}</div>
            {{pokemondic.data.maxCp}}
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-if="pokemondic.desc">
      <div class="item item-divider">
        <i class="ion-leaf"></i> {{text('story')}}
      </div>
      <div class="item item-text-wrap story">
        <div>
          {{pokemondic.desc}}
        </div>
      </div>
    </div>


    <div class="padding">
      <replies type="DICTIONARY" replies="replies" replies-id="pokemondic.id"></replies>
    </div>
  </ion-content>
</ion-view>
