<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">
      {{text("loginWithGoogle")}}
    </h1>
    <div class="buttons">
      <button class="button" ng-click="closeLogin()" style="border:none">
        <i style="font-size:20px" class="ion-close-round"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item">
          <button class="button button-block button-royal" ng-click="googleLogin()">
            {{text("loginWithGoogle")}}
          </button>
        </label>
        <!--<label class="item">-->
          <!--<button class="button button-block button-balanced" ng-click="googleLogin()" type="submit">로그인 With PTC-->
          <!--</button>-->
        <!--</label>-->
      </div>
    </form>
  </ion-content>
</ion-modal-view>
