<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-royal">
      <h1 class="title">Podic</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-if="user.id">
          <div class="profile" menu-close ui-sref="app.mypage">
            <img ng-src="{{user.img || user.userInfo.picture || 'images/profile.png'}}">
            <div>
              <div>{{user.nickname || user.userInfo.name}}<i class="ion-edit small-tail"></i> <span ng-if="user.rank">({{user.rank}}위)</span></div>
              <small>{{user.userInfo.email}}</small>
            </div>
          </div>
        </ion-item>
        <!--ng-if="user.id" -->
        <!--<ion-item  menu-close ui-sref="app.herepokemon.list" ng-if="user.id">-->
          <!--여기 포켓몬!-->
        <!--</ion-item>-->
        <ion-item menu-close ui-sref="app.pokemons" ng-if="user.id">
          <text value="myPokemon"></text>
        </ion-item>
        <ion-item menu-close ui-sref="app.pokemonDesc">
          <text value="pokemonDic"></text>
        </ion-item>
        <ion-item menu-close ui-sref="app.pokemonRank">
          <text value="pokemonRank"></text>
        </ion-item>
        <ion-item menu-close ui-sref="app.trainerRank">
          <text value="trainerRank"></text>
        </ion-item>
        <ion-item menu-close ng-click="logout()" ng-if="user.id">
          <text value="logout"></text>
        </ion-item>
        <ion-item menu-close ng-click="login()" ng-if="!user.id">
          <text value="login"></text>
        </ion-item>
        <!--<ion-item menu-close href="#/app/search">-->
        <!--Search-->
        <!--</ion-item>-->
        <!--<ion-item menu-close href="#/app/browse">-->
        <!--Browse-->
        <!--</ion-item>-->

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
