<ion-view>
  <ion-nav-title>
    {{text('pokemonRank')}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button"  ng-click="selectPokemon()"
            style="border:none;margin-right:10px">
      <span ng-if="!pokemonRankService.pokemon">전체</span>
      <img style="width:28px" ng-if="pokemonRankService.pokemon" ng-src="{{pokemonRankService.pokemon.img}}">
    </button>
    <button class="button" ng-class="{spin:pokemonRankService.loading}" ng-click="refresh()"
            style="border:none;margin-right:10px">
      <i style="font-size:20px" class="ion-android-refresh"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <label class="item">
      <small>{{text('pokemonRankIsOrderByCp')}}</small>
    </label>

    <div class="list">
      <div class="item item-thumbnail-left" ng-click="ifSelectThenMoveOrSelect(pokemon)"
           ng-repeat="pokemon in pokemonRankService.rankers">
        <img ng-src="{{pokemon.pokemon.img}}">
        <h2>{{$index +1}}{{text('rank')}} {{pokemon.pokemon.name}} <span ng-if="pokemon.nickname">({{pokemon.nickname}})</span></h2>
        <p>
          CP: {{pokemon.cp}}
        </p>
        <p>
          {{text('individualValue')}}: {{pokemon.individual_score||0}}({{pokemon.individual_attack||0}}/{{pokemon.individual_defense||0}}/{{pokemon.individual_stamina||0}})
        </p>
        <p ng-if="pokemon.owner.nickname"> {{pokemon.owner.nickname}}<span ng-if="pokemon.owner.rank">({{pokemon.owner.rank}}{{text('rank')}})</span>{{text('onesPokemon')}} </p>
      </div>
    </div>
    <ion-infinite-scroll ng-if="!pokemonRankService.end" on-infinite="more();"></ion-infinite-scroll>
  </ion-content>
</ion-view>
