<ion-view>
  <ion-nav-title>
    {{text('pokemonDetail')}}
  </ion-nav-title>
  <ion-content>
    <div ng-if="!loaded" style="margin-top:30px;text-align: center">
      <ion-spinner></ion-spinner>
    </div>
    <div ng-show="loaded">
      <div class="card poke-card">
        <div class="item item-divider">
          <i class="ion-fireball"></i> <span ng-if="pokemon.nickname">{{pokemon.nickname}} - </span>
          <localnamer value="pokemon.pokemon"></localnamer>
          <small class="date" ng-if="pokemon.creation_time_ms">
            {{pokemon.creation_time_ms | date : "M. d. hh:mm"}}{{text('catchAt')}}
          </small>
        </div>
        <img style="margin-top:10px" ng-src="{{pokemon.pokemon.img}}">
        <div class="item item-text-wrap" style="margin-top:-10px;border-top:none;">
          <div class="row">
            <div class="col">
              <div class="small-title">{{text('type')}}</div>
              <types types="pokemon.pokemon.types"></types>
            </div>
            <div class="col">
              <div class="small-title">{{text('individualValue')}}</div>
              {{pokemon.individual_score}}/45
            </div>
            <div class="col">
              <div class="small-title">{{text('pokemonPowerRank')}}</div>
              {{pokemon.pokemon.value[3]}}{{text('rank')}}
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col">
              <div class="small-title">CP</div>
              {{pokemon.cp}}
            </div>
            <div class="col">
              <div class="small-title">HP</div>
              {{pokemon.stamina}}/{{pokemon.stamina_max}}
            </div>
            <div class="col">
              <div class="small-title">{{text('height')}}</div>
              {{pokemon.height_m | number:2}}m
            </div>
            <div class="col">
              <div class="small-title">{{text('weight')}}</div>
              {{pokemon.weight_kg | number:2}}kg
            </div>
          </div>
        </div>
      </div>

      <div class="card poke-card" ng-if="pokemon.owner">
        <div class="item item-divider">
          <i class="ion-person"></i> {{text('ownerInfo')}}
        </div>
        <user-summary user="pokemon.owner"></user-summary>
      </div>


      <div class="card poke-card">
        <div class="item item-divider">
          <i class="ion-information-circled"></i> {{text('detailInfo')}}
        </div>

        <div class="item item-text-wrap">
          <div class="row">
            <div class="col">
              <div class="small-title">{{text('maxCpNowLevel')}}</div>
              {{pokemon.maxTrainerCp}}
            </div>
            <div class="col">
              <div class="small-title">{{text('maxCp')}}</div>
              {{pokemon.maxCp || 0}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="button button-balanced"  style="margin-right:10px"
                    ng-click="simulate()">
                <i class="ion-arrow-graph-up-right"></i> {{text('cpSimulation')}}
              </span>
              <span class="button button-royal" ui-sref="app.simulator.attack({pokemon_id:pokemon.id})">
                <i class="ion-fireball"></i> {{text('battleSimulation')}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="small-title">{{text('individualValue')}}</div>
              {{pokemon.individual_score}}/45
            </div>
            <div class="col">
              <div class="small-title">{{text('attack')}}</div>
              {{pokemon.individual_attack || 0}}/15
            </div>
            <div class="col">
              <div class="small-title">{{text('defense')}}</div>
              {{pokemon.individual_defense || 0}}/15
            </div>
            <div class="col">
              <div class="small-title">{{text('stamina')}}</div>
              {{pokemon.individual_stamina || 0}}/15
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col">
              <div class="small-title">{{text('pokemonPower')}}</div>
              {{pokemon.pokemon.power}}
            </div>
            <div class="col">
              <div class="small-title">{{text('attack')}}</div>
              {{pokemon.pokemon.value[0]}}
            </div>
            <div class="col">
              <div class="small-title">{{text('defense')}}</div>
              {{pokemon.pokemon.value[1]}}
            </div>
            <div class="col">
              <div class="small-title">{{text('stamina')}}</div>
              {{pokemon.pokemon.value[2]}}
            </div>
          </div>
        </div>
      </div>

      <div class="card poke-card">
        <div class="item item-divider">
          <i class="ion-ios-paw"></i> {{text('attackInfo')}}
        </div>
        <div class="item item-text-wrap skills">
          <div class="row header">
            <div class="col" style="min-width: 100px">{{text('name')}}</div>
            <div class="col">{{text('type')}}</div>
            <div class="col">{{text('cooldown')}}</div>
            <div class="col">{{text('attackPower')}}({{text("dps")}})</div>
            <div class="col">{{text('energy')}}({{text("eps")}})</div>
          </div>
          <div>
            <skill skill="pokemon.pokemon.attacks.findById(pokemon.move_1)"></skill>
            <skill skill="skill" ng-repeat="skill in pokemon.pokemon.attacks" ng-if="pokemon.move_1 !== skill.id"
                   style="opacity: 0.5"></skill>
            <skill skill="pokemon.pokemon.skills.findById(pokemon.move_2)"></skill>
            <skill skill="skill" ng-repeat="skill in pokemon.pokemon.skills" ng-if="pokemon.move_2 !== skill.id"
                   style="opacity: 0.5"></skill>
          </div>
        </div>
      </div>

      <div class="card poke-card" ng-if="pokemon.pokemon.desc">
        <div class="item item-divider">
          <i class="ion-leaf"></i> {{text('story')}}
        </div>
        <div class="item item-text-wrap story">
          <div>
            {{pokemon.pokemon.desc}}
          </div>
        </div>
      </div>

      <div class="padding">
        <replies type="POKEMON" replies="replies" replies-id="pokemon.id"></replies>
      </div>
    </div>
  </ion-content>
</ion-view>
