<ion-view>
  <ion-nav-title>
    {{text('myPokemon')}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button" ng-class="{spin:loading()}" ng-click="refresh()" style="border:none;margin-right:10px">
      <i style="font-size:20px" class="ion-android-refresh"></i>
    </button>
    <button class="button" ng-click="search()" style="border:none;margin-right:10px">
      <i style="font-size:20px" class="ion-android-search"></i>
    </button>
    <button class="button" ng-click="align()" style="border:none">
      <i style="font-size:20px" class="ion-android-funnel"></i>
    </button>
  </ion-nav-buttons>
  <ion-content id="pokemonlist">
    <div ng-if="!user.id">
      <label class="item">
        <button class="button button-block button-positive" ng-click="googleLogin()" type="submit">
          {{text("loginWithGoogle")}}
        </button>
      </label>
    </div>

    <div class="list" ng-if="user.id">
      <a class="item item-thumbnail-left" ui-sref="app.pokemon({id:pokemon.id})"
         ng-repeat="pokemon in (filtered = pokemons | filter: value.keyword | orderBy:order.orderBy:order.desc)">
        <img ng-src="{{pokemon.pokemon.img}}">
        <h2 style="margin-bottom: 5px">{{pokemon.nickname}} <span class="small-tail">{{pokemon.pokemon_id}}</span>
          <localnamer value="pokemon.pokemon"></localnamer>
          <span class="small-tail">{{text('rareWords')[pokemon.pokemon.rarity]}}</span>
        </h2>
        <h2 style="margin-bottom: 5px">
          CP: {{pokemon.cp}} IV:
          {{pokemon.individual_score||0}}({{pokemon.individual_score*100/45 |
          number:0}}%) {{pokemon.individual_attack||0}}/{{pokemon.individual_defense||0}}/{{pokemon.individual_stamina||0}}
        </h2>
        <p>
          {{text('maxCpInList')}}:{{pokemon.maxTrainerCp||0}}({{text('maxLevel')}}:{{pokemon.maxCp}}), <span
          ng-repeat="attr in pokemon.pokemon.types">{{attr.name}}<span ng-if="!$last"> | </span></span>
        </p>
        <p>
          {{text('pokemonPower')}}:
          <small>{{pokemon.pokemon.value[3]}}{{text('rank')}}</small>
          {{pokemon.pokemon.power}}({{pokemon.pokemon.value[0]}}/{{pokemon.pokemon.value[1]}}/{{pokemon.pokemon.value[2]}})
        </p>
      </a>
      <a class="item" style="border:none" ng-if="!pokemons || pokemons.length===0">
        <h2 style="margin-top:12px">{{getMessage()}}</h2>
      </a>
    </div>
  </ion-content>
  <ion-footer-bar style="height:0;padding:0">
    <div style="position:absolute;right: 12px;bottom: 15px;" ng-if="pokemons">
      <div class="new-icon" ui-sref="app.myPokemonChart">
        <i class="ion-stats-bars"></i></div>
    </div>
  </ion-footer-bar>
</ion-view>
