<ion-view view-title="내 포켓몬">
  <ion-nav-buttons side="right">
    <button class="button" ng-class="{spin:loading()}" ng-click="refresh()" style="border:none;margin-right:10px">
      <i style="font-size:20px" class="ion-android-refresh"></i>
    </button>
    <button class="button" ng-click="search()" style="border:none;margin-right:10px">
      <i style="font-size:20px" class="ion-android-search"></i>
    </button>
    <button class="button" ng-click="align()" style="border:none">
      <i style="font-size:20px" class="ion-android-funnel"></i>
    </button>
  </ion-nav-buttons>
  <ion-content id="pokemonlist">
    <div ng-if="!user.id">
      <label class="item">
        <button class="button button-block button-royal" ng-click="googleLogin()" type="submit">로그인 With Google
        </button>
      </label>
    </div>

    <div class="list" ng-if="user.id">
      <a class="item item-thumbnail-left" ui-sref="app.pokemon({id:pokemon.id})"
         ng-repeat="pokemon in pokemons | filter: order.keyword | orderBy:order.orderBy:order.desc">
        <img ng-src="{{pokemon.pokemon.img}}">
        <h2 style="margin-bottom: 5px">{{pokemon.nickname}} <span class="small-tail">{{pokemon.pokemon_id}}</span>
          {{pokemon.pokemon.name}}({{pokemon.pokemon.eng}}) <span class="small-tail">{{pokemon.pokemon.rare}}</span>
        </h2>
        <h2 style="margin-bottom: 5px">
          CP: {{pokemon.cp}} 개체값:
          {{pokemon.individual_score||0}}({{pokemon.individual_attack||0}}/{{pokemon.individual_defense||0}}/{{pokemon.individual_stamina||0}})
        </h2>
        <p>
          체력: {{pokemon.stamina||0}}/{{pokemon.stamina_max||0}}, 특성: <span
          ng-repeat="attr in pokemon.pokemon.types">{{attr.name}}<span ng-if="!$last"> | </span></span>
        </p>
        <p>
          종족값: <small>{{pokemon.pokemon.value[3]}}위</small>
          {{pokemon.pokemon.power}}({{pokemon.pokemon.value[0]}}/{{pokemon.pokemon.value[1]}}/{{pokemon.pokemon.value[2]}})
        </p>
      </a>
      <a class="item" style="border:none" ng-if="!pokemons || pokemons.length===0">
        <h2 style="margin-top:12px">{{getMessage()}}</h2>
      </a>
    </div>
  </ion-content>
  <!--<ion-footer-bar style="height:0;padding:0">-->
    <!--<div style="position:absolute;right: 12px;bottom: 15px;" ng-if="pokemons">-->
      <!--<div class="new-icon" ui-sref="app.myPokemonChart"><i-->
        <!--class="ion-stats-bars"></i></div>-->
    <!--</div>-->
  <!--</ion-footer-bar>-->
</ion-view>
